{% extends "base.html" %}

{% block head %}
<script type="text/javascript" 
	src="/static/chosen/chosen.jquery.js"></script>
<link rel="stylesheet" type="text/css" 
      href="/static/jquery/jquery.autocomplete.css" />
<script type="text/javascript" 
	src="/static/jquery/jquery.autocomplete.js"></script>
<link rel="stylesheet" type="text/css" href="/static/chosen/chosen.css" />
<script type="text/javascript">
  $(window).load(function() {
    return;
  });
</script>
{% endblock %}

{% block nav %}
<li><a href="/">New Search</a></li>
<li class="active"><a href="{% url allowed_tags %}">Manage Tags</a></li>
{% endblock %}

{% block content %}
<h1>Remove Tag "{{ tag.name }}" From User {{ agent }}</h1>

<div class="span12">
  <strong>Are you sure?</strong>
  To remove this tag, we'll have to <strong>delete the following actions</strong> by the user:

  <ul>
    {% for action in affected_actions %}
    <li>{{ action.created_at|date }} on {{ action.page.name }}</li>
    {% endfor %}
  </ul>

  In addition, the following tags will no longer be associated with the user:

  <ul>
    {% for tag in orphaned_tags %}
    <li>{{ tag.name }}</li>
    {% endfor %}
  </ul>

  {% if affected_actions_tags %}
  Meanwhile, the following tags (from the affected pages) will continue to be associated with the user:

  <ul>
    {% for tag in affected_actions_tags %}
    {% if tag not in orphaned_tags %}
    <li>{{ tag.name }}</li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  If you really want to do this, type the total number of actions that will be deleted into the box below and click the big red button.
  <form method="POST">
    {% csrf_token %}
    <input type="text" name="are_you_sure" />
    <input type="submit" value="Remove user tag" class="btn btn-danger" />
  </form>

</div>
{% endblock %}

