{% extends "base.html" %}
{% load helpful_tags verbatim %}
<html>
<body>
  {% block nav %}
  <li><a href="{% url home %}">New Search</a></li>
  {% endblock %}
  {% block content %}
  <h2>Export fields</h2>
  <form method="POST"
        action="{% url search_csv %}?{{ query_string }}">
    {% csrf_token %}

    {% for key,value in keyvals %}
    <input type="hidden" name="{{ key }}" value="{{ value }}" />
    {% endfor %}

    {% for field in fields %}
    <label style="display: inline" for="field_{{ field }}">
      <input style="display: inline" type="checkbox" id="field_{{ field }}"
             name="fields" value="{{ field }}"
             checked="checked" />
      {{ field }}
    </label>
    <br />
    {% endfor %}

    <br />
    <input type="submit" value="Export CSV" />
  </form>
  {% endblock %}
</body>
</html>
