{% extends "base.html" %}
{% load helpful_tags verbatim %}
<html>
<head>
  {% block head %}
  <script type="text/javascript">
    var search_url = window.location.toString();
    window.activateDataTable = function(labelled_columns, hidden_columns) {
      for( var i=0; i<labelled_columns.length; ++i ) {
        $("<th>").text(labelled_columns[i]).appendTo("table#ngot_data thead tr");
      }
      $("table#ngot_data").show().dataTable({
        "bJQueryUI": true,
        "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
          nRow.class = "gradeA";
          return nRow;
        },
        "sPaginationType": "full_numbers",
        "bServerSide": true,
        "aoColumnDefs": [{ "bVisible": false, "aTargets": hidden_columns}],
        "sAjaxSource": "{% url search_datatables report.slug %}"
      });
    };
    window.aktivator = {};
    window.aktivator.numPolls = 0;
    window.checkReportStatus = function() {
      aktivator.numPolls += 1
      $.getJSON(search_url, function(data) {
        if( data.status == "ready" ) {
          $("#report_status").hide();
          activateDataTable(data.labelled_columns, data.hidden_columns);
        } else if( data.status == "exception") {
          $("#report_status").html("There was an error running this search -- sorry!<br/>We're working on it.");
        } else { 
          if( aktivator.numPolls > 9 ) { 
            {% if request.PERMISSIONS.search_saved %}
            $("#report_status").html("This search seems to be taking a long time.  If you want, you can <a href='" + $("a#save_search").attr("href") + "'>save this search</a> and come back to it later -- we'll keep running the search even if you leave this page.");
            {% else %}
            $("#report_status").text("This search seems to be taking a long time.  If you want, you can bookmark this page and come back to it later -- we'll keep running the search even if you leave this page.");
            {% endif %}
          }
          window.setTimeout(checkReportStatus, 1000);
        }
      });
    };
    $(window).load(function() {
      var throbber = window.aktivator.throbber = new Throbber(
          {"size": 20, "color": "black"})
        .start();
      throbber.elem.style.display = "inline";
      $(throbber.elem).prependTo("#report_status");
      window.setTimeout(checkReportStatus, 1000);
    });
    $(".expand_details h4.heading a").live("click", function() {
      $(this).closest("div").find("ol li, ol li ul").show(); return false;
    });
    $(".expand").live("click", function() {
      $("tr.expand_details").remove();
        var expanded = $('<tr class="expand_details"><td colspan="9" class="group">' +
	'<div style="padding-top: 5px; padding-bottom: 10px;"><img style="padding-right:10px; margin-left:-5px;"  src="/static/load.gif" />' + 
        'Loading details; please wait, or <a href="' + $(this).attr("href") +
        '">click here</a> to view full details</div></td></tr>'
        ).insertAfter($(this).closest("tr"));
      $.getJSON($(this).attr("href") + "json/", function(data) {
        data["full_details_href"] = expanded.find("td.group div a").attr("href");
        var output = Mustache.render($("#details_tmpl").text(), data);
        expanded.find("td.group div").html(output);
        expanded.find("td.group div ol li ul").hide();
        expanded.find("td.group div ol li").each(function() {
          if( $(this).index() > 4 ) { $(this).hide(); }
        });
      });
      return false;
    });
  </script>
  <script type="text/javascript_template" id="details_tmpl">
    {% verbatim %}
    <div class="span10">
      <h4><a href="{{ full_details_href }}">View full details</a></h4>
    </div>
    <div class="span6">
      <p>
	<strong>Latest Activity:</strong>
	{{ latest_action.created_at }} &ndash; {{ latest_action.page_title }}
      </p>
      <p>
	<strong>Latest Contribution:</strong>
	{{ latest_order.created_at }} &ndash; {{ latest_order.action.page_title }} 
	&ndash; ${{ latest_order.total }}
      </p>
      <p>
	<strong>Opens:</strong> {{ opens.length }}
	&mdash;
	<strong>Clicks:</strong> {{ clicks.length }}
	&mdash;
	<strong>Sends:</strong> {{ sends.length }}
      </p>
    </div>
    <div class="span6">
      <p>
	<strong>Latest Mailing:</strong>
	{{ latest_send.mailed_at }} &ndash; {{ latest_send.subject_text }}
      </p>
      <p>
	<strong>Latest Open:</strong>
	{{ latest_open.created_at }} &ndash; {{ latest_open.subject_text }}
	&ndash; sent {{ latest_open.mailed_at }}
      </p>
      <p>
	<strong>Latest Click:</strong>
	{{ latest_click.created_at }} &ndash; {{ latest_click.subject_text }}
	&ndash; sent {{ latest_click.mailed_at }}
      </p>
    </div>
    <div class="span10">
      <ul class="nav nav-tabs">
	<li class="active"><a href="#contact-history" data-toggle="tab">Contact History</a></li>
	<li><a href="#contact-form" data-toggle="tab">Add Contact Record</a></li>
	<li><a href="#action-history" data-toggle="tab">Action History</a></li>
	<li><a href="#donation-history" data-toggle="tab">Donation History</a></li>
	<li><a href="#mailing-history" data-toggle="tab">Mailing History</a></li>
      </ul>
      <div class="tab-content">
	<div class="tab-pane active" id="contact-history">
	  <h4 class="heading">Contacts <a href="#">(View all)</a></h4>
	  <ol>
	    {{ #contact_history }}
	    <li>
	      {{ user }} &ndash; {{ type }} &ndash; {{ result }} &ndash; {{ completed_at }}
	    </li>
	    {{ /contact_history }}
	  </ol>
	</div>
	<!-- TODO: hide if user doesn't have permission -->
	<div class="tab-pane" id="contact-form">
	  <h4 class="heading">Add Contact Record</h4>
	  <form method="POST" action="/contacts/{{ agent.id }}/">
	    <input type="hidden" name="akid" value="{{ agent.id }}" />
	    {% endverbatim %}
	    {% csrf_token %}
	    {% with contact_form as form %}
	    {% include "_form.html" %}
	    {% endwith %}
	    {% verbatim %}
	    <input class="btn" type="submit" value ="Add Contact Record" />
	  </form>
	</div>
	<!-- END TODO -->
	<div class="tab-pane" id="action-history">
	  <h4 class="heading">Actions <a href="#">(View all)</a></h4>
	  <ol>
	    {{ #actions }}
	    <li>
	      {{ page_title }} &ndash; {{ created_at }}
	    </li>
	    {{ /actions }}
	  </ol>
	</div>
	<div class="tab-pane" id="donation-history">
	  <h4 class="heading">Donations <a href="#">(View all)</a></h4>
	  <ol>
	    {{ #orders }}
	    <li>
	      ${{ total }}: {{ page_title }} &ndash; {{ created_at }}
	    </li>
	    {{ /orders }}
	  </ol>
	</div>
	<div class="tab-pane" id="mailing-history">
	  <h4 class="heading">Mailings <a href="#">(View all)</a></h4>
	  <ol>
	    {{ #sends }}
	    <li>
	      {{ subject_text }} &ndash; {{ mailed_at }}
	      <ul>
		<li>Opens: {{ opens.length }}</li>
		<li>Clicks: {{ clicks.length }}</li>
	      </ul>
	    </li>
	    {{ /sends }}
	  </ol>
	</div>
      </div>
    </div>
    {% endverbatim %}
  </script>
  {% endblock %}
</head>
<body>
  {% block nav %}
  <li><a href="{% url home %}">New Search</a></li>
  {% if request.PERMISSIONS.add_allowed_tags %}
  <li><a href="{% url allowed_tags %}">Manage Tags</a></li>
  {% endif %}
  {% if request.PERMISSIONS.search_saved %}
  <li><a href="{% url search_saved request.user.username %}">Saved Searches</a></li>
  {% endif %}
  {% endblock %}

  {% block content %}
  <div class="subnav">
    <ul class="nav nav-pills">
      <li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  Search
	  <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
	  <li><a target="_blank" href="{% url search_raw_sql %}{{request.GET|qsify}}">
	      Raw SQL</a></li>
	  <li><a target="_blank" href="{% url search_just_akids %}{{request.GET|qsify}}">
	      AKIDs</a></li>
	  {% if request.PERMISSIONS.search_export %}
	  <li>
	    <a href="{% url search_csv %}?{{request.META.QUERY_STRING}}">Export CSV</a>
	  </li>
	  {% endif %}
	  {% if request.PERMISSIONS.search_save %}
	  <li>
	    <a id="save_search" href="{% url search_save %}?{{request.META.QUERY_STRING}}">Save Search</a>
	  </li>
	  {% endif %}
	</ul>
      </li>
    </ul>
  </div>

  <br />
<h1 id="report_status">
{% if report.status == "ready" %}
Loading search results
{% else %}
Search in progress; please wait...
{% endif %}
</h1>
<div class="results-header">
  Searched for people who match::
  <pre>{{ human_query }}</pre>
</div>
<div class="results-header" id="date-header">
  {% if report.status == "ready" %}
  These results were current as of {{ report.cached|date }}

  {% if request.PERMISSIONS.search_drop_cache %}
  <form method="POST" style="float: right"
	action="{% url search_drop_cache %}?{{ request.META.QUERY_STRING }}">
    {% csrf_token %}
    <input type="submit" class="btn btn-warning"
	   style="display: inline-block" value="Re-run this search" />
  </form>
  {% endif %}
  {% endif %}
</div>
<br />

<div class="datatables_wrapper">
<table style="display: none" class="display" id="ngot_data">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

{% endblock %}

</body>
</html>
